/* .forecast {
  background-color: #e8e8e8;
  padding-top: 26px;
  padding-bottom: 42px;
  padding-left: 77px;
  padding-right: 77px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: #000;
  border-radius: 20px;
  margin: 0 auto;
}

.title {
  font-weight: 600;
}

.forecastList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 986px;
  margin: 0 auto;
}

.forecastItem {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #d9d9d9;
  padding: 1px 50px;
  border-radius: 10px;
  width: 100%;
  height: 47px;
}

.date {
  flex: 1;
  display: block;
}

.tempWrapper {
  height: 45px;
  width: 125px;
  display: flex;
  column-gap: 13px;
  align-items: center;
  justify-content: center;
  flex: 2;
}

.icon {
  width: 45px;
}

.desc {
  flex: 1;
  display: block;
  margin-left: auto;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .forecast {
    padding-top: 20px;
    padding-bottom: 35px;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 14px;
    border-radius: 15px;
    width: 634px;
  }

  .forecastList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin: 0 auto;
  }

  .forecastItem {
    padding: 3px 15px;
    border-radius: 10px;
    gap: 120px;
    width: 100%;
    height: 40px;
  }

  @media screen and (max-width: 480px) {
    .forecast {
      width: 293px;
      font-size: 10px;
      border-radius: 10px;
      padding-top: 18px;
      padding-left: 25px;
      padding-right: 25px;
    }

    .forecastList {
      text-align: center;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 43px;
      row-gap: 35px;
      margin: 0 auto;
    }

    .forecastItem {
      flex-direction: column;
      flex-wrap: wrap;
      height: 140px;
      gap: 0;
      padding: 10px;
      flex-basis: calc(50% - 21.5px);
      margin: 0 auto;
    }

    .date {
      margin-bottom: -10px;
    }

    .icon {
      margin-bottom: -15px;
    }

    .temp {
      position: static;
    }

    .desc {
      text-transform: lowercase;
    }
    /* 
    .tempWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    } */
/* }
} */

.forecast {
  width: 293px;
  font-size: 10px;
  border-radius: 10px;
  padding-top: 18px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 35px;
  background-color: #e8e8e8;
  margin: 0 auto;
}

.title {
  font-weight: 600;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 10px;
  color: #000;
  margin-bottom: 25px;
}

.forecastList {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 43px;
  row-gap: 35px;
  margin: 0 auto;
  border-radius: 15px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 10px;
  color: #000;
}

.forecastItem {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
  flex-basis: calc(50% - 21.5px);
  margin: 0 auto;
  background: #d9d9d9;
  border-radius: 10px;
}

.date {
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.icon {
  margin-bottom: 7px;
  width: 30px;
}

.temp {
  text-align: center;
  display: block;
}

.desc {
  text-transform: lowercase;
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .forecast {
    padding-top: 20px;
    padding-bottom: 35px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 15px;
    width: 634px;
  }

  .forecastList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin: 0 auto;
    font-size: 12px;
  }

  .forecastItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 15px;
    border-radius: 10px;
    width: 100%;
    height: 40px;
  }

  .title {
    font-weight: 600;
    margin-bottom: 17px;
  }

  .date {
    flex: 1;
    display: block;
    margin-bottom: 12px;
    margin-top: 12px;
  }
    .tempWrapper {
      height: 35px;
      max-width: 115px;
      display: flex;
      column-gap: 15px;
      align-items: center;
      justify-content: center;
      flex: 2;
    }
  
    .icon {
      width: 35px;
      margin-bottom: 0;
    }
  
    .desc {
      flex: 1;
      display: block;
      margin-left: auto;
      text-align: right;
    }
    }
  
    @media screen and (min-width: 1200px) {
      .forecast {
        padding-top: 26px;
        padding-bottom: 42px;
        padding-left: 77px;
        padding-right: 77px;
        border-radius: 20px;
        width: 1140px;
      }
  
      .title {
        font-size: 16px;
      }
  
      .forecastList {
        flex-direction: column;
        gap: 10px;
        width: 986px;
        margin: 0 auto;
        font-size: 16px;
      }
  
      .forecastItem {
        padding: 1px 50px;
        height: 47px;
        align-items: baseline;
      }
  
      .tempWrapper {
        height: 45px;
        max-width: 135px;
        column-gap: 13px;
        flex: 2;
      }
  
      .date {
        flex: 1;
        margin-top: 15px;
      }
  
      .icon {
        width: 45px;
      }
  
    }