.background {
  background-color: #e8e8e8;
  border-radius: 20px;
  /* width: 100%; */
  height: 574px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
}
.title {
  padding-left: 77px;
  padding-top: 26px;
  /* padding-bottom: 20px; */
  font-weight: 600;
  font-size: 16px;
  color: #000;
}
.section {
  margin: 0 auto;
}
@media screen and (min-width: 320px) {
  .background {
    background-color: #e8e8e8;
    border-radius: 20px;
    width: 293px;
            height: 260px;
  }
  .line {
    width: 281px;
    height: 243px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

@media screen and (min-width: 860px) {
  .background {
    background-color: #e8e8e8;
    border-radius: 20px;
    /* width: 100%; */
    width: 634px;
    height: 400px;
  }
  .line {
    width: 524px;
    height: 289px;
    padding-right: 41px;
    padding-left: 41px;
  }
}
@media screen and (min-width: 1170px) {
  .background {
    background-color: #e8e8e8;
    border-radius: 20px;
    width: 100%;
    height: 654px;
    padding-right: 41px;
    padding-left: 41px;
    width: 1140px;
    margin: 0 auto;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .line {
    width: 1010px;
    height: 419px;
  }
}
