.background{
    background-color: #E8E8E8;
    border-radius: 20px;
    width: 100%;
    height: 574px;
}
.title{
    padding-left: 77px;
    padding-top: 26px;
    /* padding-bottom: 20px; */
    font-weight: 600;
    font-size: 16px;
    color: #000;
}
.section{
    margin: 0 auto ;
    
}
@media screen and (min-width: 320px) {
    .background{
        background-color: #E8E8E8;
        border-radius: 20px;
        width: 100%;
        /* width: 634px; */
        height: 400px;
    }
    .line{
    width: 281px;
    height: 243px;
    padding-right: 25px;
    padding-left: 25px;
    }
}

@media screen and (min-width: 768px) {
    .background{
        background-color: #E8E8E8;
        border-radius: 20px;
        width: 100%;
        /* width: 634px; */
        height: 400px;
    }
    .line{
    width: 524px;
    height: 289px;
    padding-right: 41px;
    padding-left: 41px;
    }
}
@media screen and (min-width: 1200px) {
    .background{
        background-color: #E8E8E8;
        border-radius: 20px;
        width: 100%;
        height: 654px;
        padding-right: 41px;
        padding-left: 41px;
    }
    
    .line{
    width: 1010px;
    height: 419px;
    }
}