.wrapper {
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.list {
  background-color: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
  /* width: 293px; */

  gap: 35px;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 35px;
}
.item:nth-child(2) p {
  margin-top: 5px;
}

.item {
  background-color: #d9d9d9;
  border-radius: 10px;
  width: 207px;
  height: 160px;
  /* flex-basis: calc((100% - 185px) / 3); */
}

.item p {
  text-align: center;
}

.itemTitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 10px;
  text-align: center;
  color: #000;
  padding-top: 10px;
}

.itemText {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #000;
  padding-top: 8px;
}
/* .icon {
  width: 85px;
  height: 85px;
} */

.secongImg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.wrapperImg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

@media screen and (min-width: 860px) {
  .list {
    gap: 35px;
    flex-wrap: wrap;
    flex-direction: inherit;
    padding: 35px;
    width: 634px;
    margin-top: 50px;
  }

  .item {
    width: 177px;
    height: 200px;
    flex-basis: calc((100% - 84px) / 3);
  }
  .itemTitle {
    font-size: 12px;

    padding-top: 20px;
  }

  .itemText {
    font-size: 16px;

    padding-top: 8px;
  }
  .item:nth-child(2) p {
    margin-top: 15px;
    padding-top: 0;
  }

  .wrapperImg {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1170px) {
  .list {
    gap: 58px;
    border-radius: 20px;
    width: 1140px;
    margin-top: 80px;
    padding: 40px;
  }

  .item {
    width: 290px;
    height: 217px;
    flex-basis: calc((100% - 232px) / 3);
  }

  .itemTitle {
    font-size: 16px;

    padding-top: 20px;
  }

  .itemText {
    font-size: 28px;

    padding-top: 10px;
  }

  .item:nth-child(2) p {
    margin-top: 15px;
    padding-top: 0;
  }

  .wrapperImg {
    margin-top: 25px;
  }
}
