.wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  background-color: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border-radius: 15px;
  width: 293px;
  height: 100%;
  gap: 35px;
  /* flex-wrap: wrap; */
  padding: 30px;
}
.item:nth-child(2) p {
  padding-top: 0;
  margin-top: 10px;
  padding-bottom: 2px;
}

.item {
  background-color: #d9d9d9;
  border-radius: 10px;
  width: 207px;
  height: 160px;
}

.item p {
  text-align: center;
}

.itemTitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 10px;
  text-align: center;
  color: #000;
  padding-top: 20px;
  padding-bottom: 10px;
}

.itemText {
  /* color: red; */
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #000;
  padding-bottom: 15px;
}
.icon {
  width: 85px;
  height: 85px;
}
.wrapperImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 60px;
  height: 60px;
}
.secongImg {
  width: 60px;
  height: 60px;
}

@media screen and (min-width: 860px) {
  .list {
    width: 634px;
    height: 490px;
    gap: 25px;
    flex-wrap: wrap;
    flex-direction: inherit;
  }
  .item {
    border-radius: 10px;
    width: 177px;
    height: 200px;
    flex-basis: calc((100% - 100px) / 3);
  }
  .itemTitle {
    font-size: 12px;
    padding-top: 20px;
  }

  .itemText {
    font-size: 18px;
  }
}

@media screen and (min-width: 1170px) {
  .list {
    border-radius: 20px;
    width: 1100px;
    height: 554px;
    gap: 58px;
    flex-wrap: wrap;
    padding: 30px;
  }
  .item {
    width: 290px;
    height: 217px;
    flex-basis: calc((100% - 238px) / 3);
  }
  .itemTitle {
    font-size: 16px;
    padding-top: 20px;
  }
  .itemText {
    font-size: 28px;
  }
}
