.item {
  border-radius: 20px;
  width: 293px;
  height: 392px;
  background: #e8e8e8;
}

.titleWrapper {
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
}

.title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  color: #000;
  text-align: center;
}

.time {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  padding-top: 15px;
  color: #000;
  text-align: center;
}

.buttonWrapper {
  display: flex;
  column-gap: 20px;
  justify-content: center;
  margin-top: 10px;
}

.button {
  border-radius: 5px;
  padding: 6px 6px;
  width: 93px;
  height: 23px;
  background: #ffb36c;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 9px;
  text-align: center;
  color: #000;
}

button {
  border: none;
  outline: none;
}

button:focus {
  outline: none;
}

.btnText {
  min-width: 82px;
}

.cardContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardImg {
  margin-top: 20px;
  text-align: center;
}

.date {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  color: #000;
  padding-top: 15px;
  text-align: center;
}

.temp {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  color: #000;
  margin-top: 10px;
  text-align: center;
}

.menuWrapper {
  margin-top: 25px;
  display: flex;
  justify-content: space-evenly;
}

.menuWrapperFrame {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 860px) {
  .item {
    width: 262px;
    height: 352px;
  }

  .titleWrapper {
    padding-top: 12px;
  }

  .title {
    font-size: 12px;
  }

  .time {
    padding-top: 11px;
  }

  .buttonWrapper {
    margin-top: 8px;
  }

  .button {
    /* width: 96px; */
  }
  .cardImg {
    margin-top: 10px;
  }
  .date {
    padding-top: 12px;
  }
  .menuWrapper {
    margin-top: 15px;
  }
}

@media screen and (min-width: 1170px) {
.item {
width: 320px;
    height: 430px;
    }

    .titleWrapper {
        padding-top: 15px;
    }

    .title {
        font-size: 15px;
    }

    .time {
        padding-top: 15px;
    }

    .buttonWrapper {
        margin-top: 10px;
    }

    .button {
        /* width: 96px; */
    }

    .cardImg {
        margin-top: 22px;
    }

    .date {
        padding-top: 15px;
    }

    .menuWrapper {
        margin-top: 35px;
    }
}
