/* .test{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  color: #000;
}

.newsList {
    width: 1140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.newsItem {
  cursor: pointer;
  width: 270px;
}

.newsImg {
  border-radius: 10px;
  width: 270px;
  height: 208px;
}

.newsTitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  margin-top: 20px;
  color: #000;
}

.loadMore {
  align-items: center;
  border-radius: 10px;
  padding: 10px 30px;
  width: 138px;
  height: 40px;
  background: #ffb36c;
}
